.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  animation: modal-show 0.5s forwards;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 480px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}
