.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  animation: modal-show 0.5s forwards;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 580px;
  padding-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}

.closeBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: none;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.contentModal {
  margin-top: 28px;
  padding: 15px;
  height: 30px;
  border-top: 1px solid #a5b5bc;
}

.titleModal {
  margin-left: 24px;
}

.closeIcon {
  width: 15px;
}

.btnSectionModal {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 24px;
  background-color: #84bb46;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cancelBtn {
  border: none;
  padding: 14px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
}

.deleteBtn {
  display: flex;
  gap: 8px;
  padding: 14px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #e94b61;
  font-weight: 600;
  letter-spacing: 2px;
}

.deleteTrashIcon {
  width: 15px;
}
