.productItem {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px 5px 20px;
  border: solid #b0bec5;
}

.pointProduct {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d2df4f;
}

.imgProduct {
  margin-left: 25px;
  height: 50px;
  width: 70px;
}

.titleProduct {
  margin-left: 25px;
  width: 200px;
}

.typeProduct {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 300px;
}

.titleProduct p {
  color: #b0bec5;
}

.accessible {
  margin-left: 60px;
  color: #d2df4f;
  font-weight: 600;
}

.trashBtn {
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: 33px;
}

.trashIcon {
  width: 15px;
}

.guaranteeProduct {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.guaranteeProduct p {
  font-size: small;
  font-weight: 600;
}

.guaranteeProduct span {
  font-weight: 400;
}

.priceProduct {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.priceProduct p {
  font-size: small;
  font-weight: 600;
}

.priceProduct span {
  font-weight: 400;
}
